/*
  IAT 339 with Prof. Andrew Hawryshkewich
  D101 with Elgin-Skye McLaren
  P03: Portfolio
  Josh Fernandez

  fonts.css

  Main reference is from HTML & CSS: Design and Build Websites by Jon Duckett
  Some sections have been copied or inspired by Project 2: Richmond Dodgeball League website. Thank you to Priscilla Skylar-Lee and Heather Maskell.
  Other references will be noted at appropriate sections of this file.
*/





/* BODY AND CAPTION TEXT: IBM Plex Sans */

@font-face {
  font-family: "IBM Plex Sans", Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  src: url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400');
}

@font-face {
  font-family: "IBM Plex Sans", Helvetica, sans-serif;
  font-weight: normal;
  font-style: italic;
  src: url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400i');
}

@font-face {
  font-family: "IBM Plex Sans", Helvetica, sans-serif;
  font-weight: 600;
  font-style: normal;
  src: url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:600');
}

@font-face {
  font-family: "IBM Plex Sans", Helvetica, sans-serif;
  font-weight: bold;
  font-style: normal;
  src: url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:700');
}





/* HEADER TEXT: Miriam Libre */

@font-face {
  font-family: "Miriam Libre", Helvetica, sans-serif;
  font-weight: bold;
  font-style: normal;
  src: url('https://fonts.googleapis.com/css?family=Miriam+Libre:700');
}

@font-face {
  font-family: "Miriam Libre", Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  src: url('https://fonts.googleapis.com/css?family=Miriam+Libre:400');
}





/* CODE TEXT: Overpass Mono */

@font-face {
  font-family: "Overpass Mono", Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  src: url('https://fonts.googleapis.com/css?family=Overpass+Mono:400');
}

@font-face {
  font-family: "Overpass Mono", Helvetica, sans-serif;
  font-weight: bold;
  font-style: normal;
  src: url('https://fonts.googleapis.com/css?family=Overpass+Mono:700');
}
